html {
	direction:rtl;
}

@font-face {
	font-family: iransans;
	src: url('font/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
	url('font/IRANSansWeb(FaNum).woff') format('woff'),
	url('font/IRANSansWeb(FaNum).woff2') format('woff2'),
	url('font/IRANSansWeb(FaNum).ttf') format('truetype')
}
body {
	margin:0px;
	padding:0px;
	font-family:iransans;
	/*background-color: #cddc394f;*/

}
a{
	text-decoration:none;
	color:#06090a;
}
.a1 {
    position: relative;
    display: inline-block;
    padding: 0%;
    z-index: 6;
    width: 100%;
}
.a2{
	position: relative;
    display: inline-block;
    width: 100%;
	background-color: #ffa000;
    height: 300px;
}
.a2 p {
    color: white;
    font-size: -webkit-xxx-large;
    padding: 1% 37% 0% 0%;
}
.a2 hr{
	margin: 0px;
    box-shadow: 0px 5px 9px 0px #10101059;
}
#tl{
	display: -webkit-box;
    margin: 0px;
    position: relative;
    list-style-type: none;
    padding: 13px 400px 26px 0px;
}

#tl li {
	
	display: list-item;
    padding: 64px 0px 0px 64px;
    background-color: #ffffff;
}

.a1 img {
    display: -webkit-inline-box;
    position: absolute;
	padding: 13px 160px 0px 0px;
}
form {
    padding: 0% 40% 0% 0%;
}
input[type="submit"] {
    color: white;
    background-color: #ffc107;
    font-weight: bold;
    border: none;
    font-size: unset;
    padding: 5px 21px;
    border-radius: 6px;
    box-shadow: 0px 3px 5px 0px #4a4a4a40;
	height: 35px;
    width: 100px;
}
input[type="email"] {
    border: none;
    height: 30px;
    width: 250px;
	border-radius: 4px;
    box-shadow: -2px 2px 7px 0px #00000042;
	margin: 0px 0px 0px 16px;
}
input.search-field {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px rgba(0,0,0,.12) inset;
    padding: 0 .75em;
    height: 2.6em;
    width: 17em;
}

input.search-field {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px rgba(0,0,0,.12) inset;
    height: 2.6em;
    width: 17em;
}
button.search-submit {
    background: 0 0;
    box-shadow: none;
    border: none;
}

/*#tl li:hover {
    background-color: #355165;
}*/

